:root {
    --red: #e63946;
    --white: #f1faee;
    --light-blue: #a8dadc;
    --med-blue: #457b9d;
    --dark-blue:#1d3557;
}

body {
    background-color:var(--white);
    font-family: 'Roboto', sans-serif;
    color:var(--dark-blue);
    transition:0.2s;
}

.button-red {
  backface-visibility: hidden;
  background: var(--red);
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-red:disabled {
  color: #787878;
  cursor: auto;
}

.button-red:not(:disabled):hover {
  transform: scale(1.05);
}

.button-red:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-red:focus {
  outline: 0 solid transparent;
}

.button-red:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-red:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-red:not(:disabled):active {
  transform: translateY(.125rem);
}

.modal-header{
    background-color:var(--red);
    color:var(--white);
}